div#bbpress-forums.bbpress-wrapper ul.bbp-replies li.bbp-body .bbp-reply-header .bbp-meta {
  span.bbp-reply-like {
    color: $tertiary;
    background-color: transparent;

    font-weight: 600;
    font-family: $display;

    margin: 0 0.5rem;
    padding: 0.1rem 0.3rem;

    i,
    svg {
      position: relative;
      top: 1px;
      margin-right: 0.2rem;

      transition: 0.3s;
    }

    cursor: not-allowed;
  }
}

.logged-in {
  div#bbpress-forums.bbpress-wrapper ul.bbp-replies li.bbp-body .bbp-reply-header .bbp-meta {
    span.bbp-reply-like {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $primary;
        background-color: transparentize($tertiary, 0.7);

        i,
        svg {
          color: $highlight;
        }
      }

      &:active {
        color: $primary;
        background-color: transparent;

        i,
        svg {
          transform: scale(1.5);
          transition: 0.3s;
        }
      }

      &.btn-liked {
        color: #fff;
        background-color: $secondary;
      }

      &.like-pending {
        @keyframes bounce {
          from {
            transform: translateY(4px);
          }
          to {
            transform: translateY(-10px);
          }
        }
        @-webkit-keyframes bounce {
          from {
            transform: translateY(4px);
          }
          to {
            transform: translateY(-10px);
          }
        }

        i,
        svg {
          animation: bounce 0.3s infinite alternate;
          -webkit-animation: bounce 0.3s infinite alternate;
        }
      }
    }
  }
}
