$display: 'Osaka'; // 400, Fancy Font
$highlight: #d3afa3; // Salmon-ish
$primary: #2d4f51; // Dark Green-Blue
$secondary: lighten(#2d4f51, 20%); // Mid Green-Blue
$tertiary: lighten(#2d4f51, 40%); // Lightest Green-Blue
